<div class='row'>
  <div class='col-md-6'>
    <h2><%= @topic.title %></h2>
    <ul class='list-group'>
      <li class='list-group-item'>
        <%= simple_format @topic.body %>
        <p>
          <%= image_tag @topic.user.gravatar_url(size: 40) %>
          <%= link_to @topic.user.name, @topic.user %>
          <small class='text-muted'>
            <%= time_ago_in_words @topic.created_at %> ago
          </small>
        </p>
      </li>
      <li class='list-group-item'>
        <h3>TODO: Add comments</h3>
      </li>
    </ul>
  </div>
</div>