<% content_for :head do %>
<meta property="og:title" content="<%= @topic.title %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= topic_url(@topic) %>" />
<% end %>
<div class='row'>
  <div class='col-md-6'>
    <h2><%= @topic.title %></h2>
    <ul class='list-group'>
      <li class='list-group-item'>
        <%= simple_format @topic.body %>
        <p>
          <%= image_tag @topic.user.gravatar_url(size: 40) %>
          <%= link_to @topic.user.name, @topic.user %>
          <small class='text-muted'>
            <%= time_ago_in_words @topic.created_at %> ago
          </small>
        </p>
        <div class="fb-like" data-href="<%= topic_url(@topic) %>" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
      </li>
      <% @comments.each do |comment| %>
        <li class='list-group-item'>
          <%= simple_format comment.body %>
          <p>
            <%= image_tag comment.user.gravatar_url(size: 40) %>
            <%= link_to comment.user.name, comment.user %>
            <small class='text-muted'>
              <%= time_ago_in_words comment.created_at %> ago
            </small>
          </p>
        </li>
      <% end %>
      <% if current_user %>
        <li class='list-group-item'>
          <%= form_for @comment, url: "/topics/#{@topic.id}/comments" do |f| %>
            <div class="form-group">
              <%= f.text_area :body, class: 'form-control' %>
            </div>
            <%= f.submit "Post Comment", class: 'btn btn-primary btn-sm' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>